<div class="row">
    <div class="col-md-12">
        <h3>ClassRoom</h3>
        <p style="font-size: 10px;"><strong>Welcome User</strong></p>
    </div>
</div>
<div class="row">

    <div class="row">
        <div class="col-md-12">
            <h4 class="header">Menu</h4>
        </div>
    </div>
    <div class="container-fluid btn-group-vertical ">
        <button class="btn btn-primary btnborder"  (click)="sendMessageToCreateClass()">Create Class</button>
        <button class="btn btn-primary" (click)="sendMessageToGoMyClasses()">My Classes</button>
    </div>
</div>