<div class="container-fluid mainrow">
    <div class="row">

        <div class="col-md-2 menu">
            <app-menu (messageEvent)="menuActions($event)"></app-menu>
        </div>
        <div class="{{props.isMaterialSidedNeeded}} border mainconsole" >
            
            <app-createclass *ngIf="props.isCreateComponent"></app-createclass> 
            <app-viewclasses *ngIf="props.isViewComponent"></app-viewclasses>
            <app-market *ngIf="props.isMarketComponent"></app-market>
        </div>

        <div *ngIf="props.isViewComponent" class="col-md-4 material">
            <p>Material Section</p>
        </div>
    </div>
</div>
