.border {
    height: 100%;
    border: 1px solid black;
    
}

.menu {
    height: 100%;
    width: 15%;
}

.mainconsole{
    height: 100%;
    width: 60%;
}

.material{
    height: 100%;
    width: 25%;
}

.mainrow{
    min-height: 100%;
    height: 100%;
}