
<div *ngIf="screens.loadingScreen" class="col-md-12 loading">
    <img src="../../assets/loading.gif">
</div>

<div *ngIf="alertScreen">
    <label><strong>{{props.msg}}</strong></label>
</div>

<!-- Classes view-->
<div *ngIf="screens.viewclasses" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;"> 
        <div class="col-md-12">
            <button class="btn btn-primary float-md-right" (click)="onCreateClass()">+ Create</button>
        </div>
    </div>
    <div class="row">
        <h4>Classes</h4>
    </div>
    <div class="row">

        <div class="col-md12 classes" *ngFor="let i of sample" (click)="onClickClass(i)">
            <p class="classheader">Sample Class</p>
            <p class="descriptor">Description</p>
            <p class="createddate">Created Date</p>
        </div>
    </div>

</div>




<!-- class create -->
<div *ngIf="screens.classcreate" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Create Class</h4>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-6 col-xs-12">
            <form (ngSubmit)="createClass(classes)" #classes="ngForm">
                <div class="form-group ">
                    <label class="control-label requiredField" for="classname">
                        Class Name
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <input class="form-control" ngModel id="classname" name="classname" placeholder="Name of the class" type="text"/>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- Lectures view -->


<!-- Classes -->
<div *ngIf="screens.lecturesview" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;"> 
        <div class="col-md-12">
            <button class="btn btn-primary float-md-right" (click)="onCreateLecture()">+ Create</button>
        </div>
    </div>
    <div class="row">
        <h4>Lectures</h4>
    </div>
    <div class="row">

        <div class="col-md12 classes" *ngFor="let i of sample" (click)="onClickLecture(i)">
            <p class="classheader">Sample Lectures</p>
            <p class="descriptor">Description</p>
            <p class="createddate">Created Date</p>
        </div>
    </div>
</div>


<!-- Lectures Create -->
<div  *ngIf="screens.lecturescreate" class="container-fluid">
    <div class="row">
        <h4>Create Lecture</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form (ngSubmit)="submitLecture(lecture)" #lecture="ngForm">
                <div class="form-group ">
                    <label class="control-label requiredField" for="lecture">
                        Lecture Name
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <input class="form-control" id="lecture" ngModel name="lecture" placeholder="Lecture " type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label " for="desc">
                        Description
                    </label>
                    <textarea class="form-control" cols="40" ngModel id="desc" name="desc" placeholder="Desc" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Lecture View -->
<div *ngIf="screens.lectureview" class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <h4>Lecture About</h4>
        </div>
        <div class="col-md-2">
            <label>Create: </label>
            <select>
                <option selected disabled hidden>Create</option>
                <option value="video">Video</option>
                <option value="material">Material</option>
                <option value="project">Projects</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <label><strong>Videos</strong></label>
            </div>
            <div class="row sections ">
                <div class="col-md-1">
                    <button class="btn btn-primary direction">Back</button>
                </div>
                <div  class="col-md-3">
                    <img class="imgs"  src="../../assets/steve.jpg">
                </div>
                <div class="col-md-3">
                    <img class="imgs"  src="../../assets/steve2.jpeg">
                </div>
                <div class="col-md-3">
                    <img class="imgs" src="../../assets/steve3.jpg">
                </div>
                <div class="col-md-1 ">
                    <button class="btn btn-primary direction">Next</button>
                </div>
            </div>
            <div class="row">
                <label><strong>Materials</strong></label>
            </div>
            <div class="row sections ">
                <div class="col-md-1 ">
                    <button class="btn btn-primary direction">Back</button>
                </div>
                <div  class="col-md-3">
                    <img class="imgs"  src="../../assets/steve.jpg">
                </div>
                <div class="col-md-3">
                    <img class="imgs"  src="../../assets/steve2.jpeg">
                </div>
                <div class="col-md-3">
                    <img class="imgs" src="../../assets/steve3.jpg">
                </div>
                <div class="col-md-1 ">
                    <button class="btn btn-primary direction">Next</button>
                </div>
            </div>
            <div class="row">
                <label><strong>Project</strong></label>
            </div>
            <div class="row sections">
                <div class="col-md-1 ">
                    <button class="btn btn-primary direction">Back</button>
                </div>
                <div  class="col-md-3">
                    <img class="imgs"  src="../../assets/steve.jpg">
                </div>
                <div class="col-md-3">
                    <img class="imgs"  src="../../assets/steve2.jpeg">
                </div>
                <div class="col-md-3">
                    <img class="imgs" src="../../assets/steve3.jpg">
                </div>
                <div class="col-md-1 ">
                    <button class="btn btn-primary direction">Next</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 sectionstask">
            <div class="row">
                <div class="col-md-6">
                    <h5 >Tasks</h5>
                </div>
                <div class="col-md-6">
                    <button  style="margin-right: 0%;" (click)="createTask()" class="btn btn-primary">+</button>
                </div>
            </div>

            <div *ngIf="tasks.create"  class="container-fluid">
                <div style="padding-left: 20px;" class="row">
                    <form (ngSubmit)="submitTask(task)"  #task="ngForm">
                        <div class="form-group ">
                            <label class="control-label requiredField" for="task">
                                Task
                                <span class="asteriskField">
                                    *
                                </span>
                            </label>
                            <input class="form-control" id="task" ngModel name="task" placeholder="task" type="text"/>
                        </div>
                        <div class="form-group">
                            <div>
                                <button class="btn btn-primary " name="submit" type="submit">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div  class="container-fluid">
                <div  style="padding-left: 20px;" *ngFor="let i of sample" class="row">
                    <label  class="checkbox-inline"><input type="checkbox" value=""> Task {{i}}</label>
                </div>
            </div>



        </div>
    </div>
</div>



<!-- upload section -->
<div *ngIf="screens.uploadview" class="conatiner-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Upload</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="form-group ">
                    <label class="control-label requiredField" for="files">
                        File Upload
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <input class="form-control" id="files" name="files" placeholder="File Upload" type="file"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="referencelink">
                        Reference
                        <span class="asteriskField">
                            *
                        </span>
                    </label>
                    <input class="form-control" id="referencelink" name="referencelink" placeholder="reference link" type="text"/>
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>    
    </div>
</div>



