.classes{
    margin-right: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    color: solid black;
    font-family: serif;
    font-size: 25px;
    width: 200px;
    height: 200px;
}


.classheader{
    text-align: center;
}

.descriptor {
    font-family: monospace;
    font-size: 10px;
    margin-left: 10px;
}

.createddate{
 font-family: monospace;
    font-size: 10px;
    right: 10px;
    text-align: right;
    
    position: relative;
}


.loading{
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50);
}

.lecturebordered{
    border-width: 1px;
    border-style: solid;
    color: solid black;
    margin-bottom: 10px;
}

.uploadedlectures{
    overflow-x:auto; 
}


.imgs{
    width: 100%;
    height: 100%;
}



.sections{
    padding-bottom: 10px;
    border-bottom: solid black 1px;
}